.lexa-page {font-family: 'Inconsolata', monospace, Arial}

.navbar-brand {
  $link-color: #a6cdd7;
  color: $link-color;
}

.discord-invite.btn-primary{
  background-color: #343a40;
  border-color: #343A40
}

.navbar-brand:hover {
  $link-color: #88a1ac;
  color: $link-color;
}

.discord-invite.btn-primary:hover{
  background-color: #4b535b;
  border-color: #4b535b
}

img.logo {
  width: 100px;
  height: 100px;
  transition-property: transform;
  transition-duration: 0.75s;
}

img.logo:hover {
  transform: rotate3d(1, -1, 1, 45deg)

}

