/*

THIS IS FOR TOP.GG
DISCORD BOT LIST
DESCRPITION

*/

body {
	background-color: #2c2f33;
	font-family: Arial, serif;
	color: white;
}

.logo {
	text-align: center;
	text-transform: capitalize;
}

p.howitworks {
	width: 600px;
	text-align: left;
}

p.about, ul.features {
	text-align: left;
}

#about, #features {
	display: inline-block;
	width: 450px;
}

.commandlist th {
	color: black;
	background-color: #a8a8a8;
}
